# Ignore build directories

*.out
main
main.dSYM
*.optimal.cpp
*.optimal.c
**/회고/*
**/strategy/*

# Ignore temporary files
*.swp
*.bak
*.tmp
*.log

# Ignore clangd background index
.cache/

# Ignore OS-specific files
.DS_Store
**/[Bb]uild/*
**/[Hh]iddenCode/*

prevvscode.settingsdoc.*
currentvscode.settingsdoc.*